<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756345693557-slkn12m8nsf0fg5tnkesbq6jrgaso7uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756345693557-slkn12m8nsf0fg5tnkesbq6jrgaso7uc</string>
	<key>API_KEY</key>
	<string>AIzaSyD_k_FPVGjfxoufVh4uUmCBk_AiKIqvVgw</string>
	<key>GCM_SENDER_ID</key>
	<string>756345693557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-3aedf</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-3aedf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756345693557:ios:b5f64d60176c612fb65f3c</string>
</dict>
</plist>